@{
    ViewBag.Title = "About";
}
<h1>
    Radio Movil Motacu
</h1>


<img src="https://scontent.fsrz2-1.fna.fbcdn.net/v/t1.6435-9/128847042_1229100054138204_4273541197727050988_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=kh7HhCi0qv8AX8nzGSF&tn=1rZC5huABErbzTxg&_nc_ht=scontent.fsrz2-1.fna&oh=00_AT_DObFCrG0BViIYV5K7ksbwINfvxzHiI_Xx3g255C5ZMA&oe=62879BEE" height="500" width="500" />
<p>
    Deja de volver por todo SANTA CRUZ... y gastar tu combustible envano.
    Radio MÓVIL MOTACÚ te invita a formar parte de esta gran familia. Con clientes exclusivos, parqueos estrategicos, necesitamos autos y vagonetas.
    Dir. Calle #8 /destacamento entre canal cotoca y Paragua.
    Mas informacion al 74181920
</p>
