@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <img src="https://e-an.americatv.com.pe/util-e-interesante-usar-taxi-4-veces-mas-barato-que-tener-auto-lima-segun-estudio-n290865-1200x630-399038.jpg" height="300" width="999">
    <h1>Radio Movil Motacu</h1>
    <p class="lead">Servicio de taxis</p>
    <p><a href="https://m.facebook.com/Radio-Movil-motacu-1688148074736967/" class="btn btn-primary btn-lg">Visitanos a nuestras redes sociales &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ubicacion</h2>
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.3903948093694!2d-63.16104248511817!3d-17.773340287848395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e9085b5e1f85%3A0xacebd74762d320f0!2sRadio%20Movil%20Motacu!5e0!3m2!1ses-419!2sbo!4v1650578951653!5m2!1ses-419!2sbo" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Servicios</h2>
        <p>
            <ul>
                <li>Traslado al aeropuerto</li>
                <li>Traslado VIP</li>
                <li>Traslado en Limosina</li>
                <li>ALQUILER DE AUTOBÚS CON CONDUCTOR</li>
                <li>Servicio de minibus</li>
                <li>Servicio de taxi</li>
                <li>Servicio de chofer</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pedi tu taxi aqui</h2>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Origen:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Destino</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">Fecha y hora:</label><br />
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">ahora</label>

                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">mas tarde</label>
            </div>
           
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>